body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.col {
  display: inline-block;
  width: 8px;
  background-color: black;
}

.col p {
  color: white;
  margin: 0;
  padding: 0;
}

.algorithm {
  color: black;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  border: none;
  background-image: linear-gradient(to left top, #63bff5, #5e73ee);
  font-size: large;
}

.information-section {
  display: flex;
  gap: 1em;
  justify-content: center;
  font-size: large;
}

.footer {
  margin-top: 5em;
  text-align: center;
  height: 40px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .col {
    display: inline-block;
    width: 4px;
    background-color: black;
  }

  .algorithm {
    padding: .5em;
    margin: .5em;
    border-radius: 1em;
    border: none;
    background-image: linear-gradient(to left top, #63bff5, #5e73ee);
    font-size: large;
  }

  .information-section {
    display: flex;
    gap: .5em;
    justify-content: center;
    font-size: medium;
  }
}